<?xml version="1.0"?>

<config>
	
	<glue>
	</glue>
	
	<executor tempDir="/tmp/plj/executor_tmp"/>
	
	<chanell>
		<ior-file filename="/tmp/plpgj.ior"/>
	</chanell>
	
	<typemapper>
		<map>
			<type db="varchar" class="org.pgj.typemapping.postgres.PGVarchar"/>
			<type db="bool" class="org.pgj.typemapping.postgres.PGBool"/>
			<type db="smallint" class="org.pgj.typemapping.postgres.PGSmallInt"/>
		</map>
		<backmap>
			<type class="java.lang.String" type="varchar"/>
			<type class="java.lang.Boolean" type="bool"/>
			<type class="java.lang.Integer" type="smallint"/>
		</backmap>
	</typemapper>
	
	<classloader root="/home/postgres/classes/">
		
		<class-permission fqn="bla">
			<permission>
				<class>java.util.PropertyPermission</class>
				<param>user.home</param>
				<param>read</param>
			</permission>
		</class-permission>
		
	</classloader>
	
	<!--
		Class loaders for Java executor.
	<jdbc_classloader 
		url="jdbc:default" 
		driver="org.pgj.jdbc.driver"
		user="${current_user}"
		password="${password}">
		
		<load>
			select code 
			from plpgj_java_classes
			where name=${classname}
			and package=${package}
		</load>
		
		<store>
			insert into plpgj_java_classes_in (name, package, code)
			values ()
		</store>
		
	</jdbc_classloader>
	-->
	
</config>
