
#you should not modify this file.

POSTGRES_SRC_HOME=@POSTGRES_SRC_HOME@
BUILD_VERSION=@BUILD_VERSION@
BUILD_NUMBER=@BUILD_NUMBER@
BUILD_SOFTWARE=@BUILD_SOFTWARE@
POSTGRES_INST_HOME=@POSTGRES_INST_HOME@

COMM_MODULE=@COMM_MODULE@
CONF_MODULE=@CONF_MODULE@
CALLMKR_MODULE=@CALLMKR_MODULE@

